body {
    height: height: 100%;
    background: #121417;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
header#titular {
                min-height: 100vh;
                color: #fff;
                background-color: #121417;
                background-repeat: no-repeat;
                background-attachment: scroll;
                background-position: center top;
                background-size: 100% auto;
                background-image: url("img/cover.png");
            }
@media (min-width: 700px) {
                header#titular {
                    background-image: url("img/cover.png");
                }
            }
header#titular div.container {
                height: 100vh;
            }

header#titular h1 {
                color:rgba(255,255,255,1); 
            }

header#titular h2 {
                color:rgba(255,255,255,0.8);
            }
h1 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 3rem;
}


h2 {
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-size: 1.2rem;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}
h4 {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}
h5{
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 1rem;
}
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
}

.person{
    width: 100%;
    height: auto;
}
p.lead {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 18px;
    color:rgba(255,255,255,0.8);
}
.esconder{
    display:none;
}
@media (max-width: 700px) {
    p.lead {
        text-align: center;
    }
    .person{
        width: 200%;
        top: 20px;
        margin-left:-50px;
    }
}

img {
    vertical-align: middle;
    border-style: none;
}


